<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ni.org.ics.estudios.cohorte.muestreoanual"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature android:name="android.hardware.camera" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".activities.MenuInfoActivity" />
        <activity android:name=".activities.ReviewActivity" />
        <activity
            android:name=".activities.ListReviewActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.DownloadAllActivity" />
        <activity android:name=".activities.DownloadUsersActivity" />
        <activity android:name=".activities.DownloadParticipanteActivity" />
        <activity android:name=".activities.UploadAllActivity" />
        <activity android:name=".activities.UploadDocsActivity" />
        <activity android:name=".preferences.PreferencesActivity" />
        <activity android:name=".activities.SelecPartActivity" />
        <activity android:name=".activities.SelecPartRecepcionActivity" />
        <activity android:name=".activities.MenuRecepcionActivity" />
        <activity android:name=".activities.MenuReviewActivity" />
        <activity android:name=".activities.ListParticipantesCasaActivity" />
        <activity android:name=".activities.NewEcActivity" />
        <activity android:name=".activities.NewEpActivity" />
        <activity android:name=".activities.NewElActivity" />
        <activity android:name=".activities.NewPtActivity" />
        <activity android:name=".activities.NewEsActivity" />
        <activity android:name=".activities.NewSampleActivity" />
        <activity android:name=".activities.NewObActivity" />
        <activity android:name=".activities.NewVaccActivity" />
        <activity android:name=".activities.NewNewVaccActivity" />
        <activity android:name=".activities.NewVisitaActivity" />
        <activity android:name=".activities.NewDatosVisitaActivity" />
        <activity android:name=".activities.NewRecActivity" />
        <activity android:name=".activities.NewRec2015Activity" />
        <activity android:name=".activities.NewZikaActivity" />
        <activity android:name=".activities.NewDatosPartoBBActivity" />
        <activity android:name=".activities.NewRecFlu2015Activity" />
        <activity android:name=".activities.NewConsChikActivity" />
        <activity android:name=".activities.NewCambEstActivity" />
        <activity android:name=".activities.MapaActivity" />
        <activity android:name=".activities.MenuSupervisorActivity" />
        <activity android:name=".activities.RecepcionBhcActivity" />
        <activity android:name=".activities.ListBHCsActivity" />
        <activity android:name=".activities.RecepcionSeroActivity" />
        <activity android:name=".activities.ListRojosActivity" />
        <activity android:name=".activities.PinchazoActivity" />
        <activity android:name=".activities.ListPinchazosActivity" />
        <activity android:name=".activities.TempPbmcActivity" />
        <activity android:name=".activities.ListTempPbmcActivity" />
        <activity android:name=".activities.TempRojoActivity" />
        <activity android:name=".activities.ListTempRojoBhcActivity" />
        <activity android:name=".activities.RazonNoDataActivity" />
        <activity android:name=".activities.DocumentosActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activities.zikacluster.MenuZikaClusterActivity" />
        <activity android:name=".activities.zikacluster.nuevos.NewCasoIndiceActivity" />
        <activity android:name=".activities.zikacluster.SelecPartZikaActivity" />
        <activity android:name=".activities.zikacluster.MenuInfoZikaActivity" />
        <activity android:name=".activities.zikacluster.MiembrosClusterZikaActivity" />
        <activity android:name=".activities.zikacluster.nuevos.NewMiembroClusterActivity" />
        <activity android:name=".activities.zikacluster.MenuSintomasZikaActivity" />
        <activity android:name=".activities.zikacluster.nuevos.NewSintomaClusterActivity" />
        <activity android:name=".activities.zikacluster.nuevos.NewSintomaIniClusterActivity" />

        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name="ni.org.ics.estudios.cohorte.muestreoanual.activities.VacunaActivity"
            android:label="@string/title_activity_vacuna" >
        </activity>
    </application>

</manifest>